@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}
.banner{
  /* background: url(../public/14abe6e1c2_79418_canonique-483-01.jpg); */
  background-size: cover;
}
.zoom:hover{
  transition: all .4s linear;
  transform: scale(1.02);
}